# Project 1 - Golem EiTI
## Students dataset from [kaggle.com](https://www.kaggle.com/spscientist/students-performance-in-exams/version/1) described and trained by ML
### Done by Wojciech Sitek ([github.com](github.com/wojtsit))
Dataset represents students from USA and their exams scores depending on their characteristic features. This project divides into two parts:
0. IMPORT
1. GRAPHS - Description of data (using Python Data Science libraries)
2. ML - Different training methods to achieve best accuracy

## 0. Import
1. Random rows
2. Dataset basic information
3. Conclusion

In [2]:
#Import Python libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#Read dataset from CSV
data=pd.read_csv('Dataset/StudentsPerformance.csv')

#Print sample of random rows
data.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
810,male,group A,some high school,standard,none,51,31,36
748,female,group C,bachelor's degree,free/reduced,none,50,60,59
415,male,group E,high school,standard,none,84,73,69
137,male,group E,high school,standard,none,70,55,56
941,female,group D,master's degree,standard,none,78,91,96

In [3]:
#Print information about columns and objects
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
gender                         1000 non-null object
race/ethnicity                 1000 non-null object
parental level of education    1000 non-null object
lunch                          1000 non-null object
test preparation course        1000 non-null object
math score                     1000 non-null int64
reading score                  1000 non-null int64
writing score                  1000 non-null int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

This information implies that:
- there are 1000 students listed
- all data is not null - there is no need to prepare data (apart from get_dummies function before ML part)
- it can be discovered from sample that data is probably very organised. This will be checked later.
- only exam scores are integer values - they can be described

## 1. GRAPHS
In this part there will come the description of the relationships between different columns and factors.

In [5]:
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

 - TODO !!here comes description graph!!

In [6]:
data.corr()

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

Exam scores are quite strongly correlated. This implies that students often had **similar results** for all exams.